<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./style.css" />
    <title>Gurunavi and CC API</title>
  </head>
  <body>
    <h1>Are you hungry in CC?</h1>
    <a href="https://github.com/Yukio0315/cc10_solo_project_1">
      Please use this API
    </a>
  </body>
</html>
